header {
  height: 115px;
  position: fixed;
  z-index: $z_header;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  .header_left {
    width: 300px;
    height: 100%;
    display: flex;
    padding: 0 0 0 80px;
    align-items: center;
    .logo {
      display: flex;
      height: 100%;
      align-items: center;
      .white_logo {
        display: none;
      }
      img {
        height: 20px;
        width: 140px;
      }
    }
  }
  .header_right {
    font-size: .75rem;
    width: 200px;
    height: 100%;
    .header_right_content {
      width: 100%;
      height: 100%;
      padding-top: 40px;
      .hrc_middle_bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 10px;
      }
      .hrc_middle {
        display: flex;
        ul {
          display: flex;
          list-style-type: none;
          margin: 0;
          padding: 0;
          li#shopping_bag {
            text-align: center;
            background: url('../images/static/bag3.png') no-repeat center top;
            background-size: contain;
            a {
              color: #000;
            }
          }
          li {
            padding: 10px;
            display: flex;
            a {
              display: inline-block;
              text-decoration: none;
              color: inherit;
              &:hover {
                font-weight: bold;
              }
            }
            .input_box_wrapper {
              position: relative;
              i {
                cursor: pointer;
                display: block;
              }
              .input_box {
                border: 1px solid #eee;
                background: #fff;
                box-shadow: 0 1px 6px rgba(0,0,0,.03);
                position: absolute;
                width: 380px;
                left: -380px;
                height: 40px;
                padding: 5px;
                display: none;
                &.active {
                  display: flex;
                }
                input {
                  width: 300px;
                  padding: 6px 10px;
                  outline: none;
                  border: none;
                  &:focus {
                    outline: none;
                    border: none;
                  }
                }
                button {
                  padding: 6px 10px;
                  background: black;
                  outline: none;
                  border: none;
                  color: white;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
      .hrc_bottom{
        display: flex;
        span {
          display: inline-block;
          padding: 0 6px;
          &.active {
            font-weight: bold;
          }
          &.view_number {
            display: inline-block;
            cursor: pointer;
          }
        }
        #filter_button {
          cursor: pointer;
        }
      }
    }
  }

}

/*
single production specific css
 */
 .singleproduct_body_class {
    .header_left {
      padding: 0;
    }

    .logo {
      display: flex;
      height: 100%;
      align-items: center;
      .ham_burger_menu {
        padding-left: 80px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        .span_block {
          padding-right: 30px;

            span {
              display: block;
              width: 25px;
              height: 1px;
              background: #000;
              margin-bottom: 5px;
              &:last-child {
                margin: 0;
              }
            }


        }

      }
    }
 }



.mainhome_body_class {
  padding-top: 0;
  header {
    // background: rgba(255, 255, 255, 0.2);
    background: transparent;
  }
}

.white_menu {
  header {
    color: white;
    .header_left {
      .logo {
        .black_logo {
          display: none;
        }
        .white_logo {
          display: inline-block;
        }

      }
    }

  }
}
.white_menu {
}















