.medi_form_group {
  margin: 2em 0;
  transition: all .2s;
  position: relative;
  label {
    position: absolute;
    // display: none;
    top: 11px;
    left: 2px;
    color: #aaa;
    transition: all 0.2s;
    cursor: text;
    font-family: sans-serif;
    font-size: 1.2em;
  }
  input[type=text],
  input[type=password],
  input[type=email],
   {
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    font-size: 1.2em;
    color: #000;
    &:focus {
      outline: none;
    }
  }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  {
    border-bottom: 2px solid #aaa;
    ~ label {
      transition: all 0.2s;
      display: block;
      font-size: 10px;
      line-height: 12px;
      top: -6px;
      color: #777;
    }
    ~ div.hint {
      display: block;
      transition: all .2s;
    }
    ~ label[id*='error'] {
      position: relative;
      color: red;
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      ~ div.hint {
        display: none;
        transition: all .2s;
      }
    }
  }

  input[type=text].filled,
  input[type=password].filled,
  input[type=email].filled,
  {
    border-bottom: 2px solid #aaa;
    ~ label {
      transition: all 0.2s;
      display: block;
      font-size: 10px;
      line-height: 12px;
      top: -6px;
      color: #777;
    }
    ~ label[id*='error'] {
      position: relative;
      color: red;
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      ~ div.hint {
        display: none;
        transition: all .2s;
      }
    }
  }



}

.mainlogin {
  margin-bottom: 250px;
}

.hint {
  width: 80%;
  display: inline-block;
  margin-top: 6px;
  display: none;
}
.medi_form_group_select {
  position: relative;
  margin: 2em 0;
  width: 80%;
  label {
    position: absolute;
    display: block;
    font-size: 10px;
    line-height: 12px;
    top: -6px;
    color: #777;
  }
  h2 {
    padding-top: 25px;
    font-size: 1.2em;
    font-weight: normal;
  }
  select {
    border: 0;
    -webkit-appearance: none;
    background: url(../images/static/arrow-down-select.png) no-repeat right center;
    outline: none;
    border-bottom: 2px solid #ddd;
    font-size: 1.2rem;
    padding: 0 0 13px 0;
    width: 100%;
    color: #000;
    border-radius: 0;
    margin: 10px 0;
  }
}
.radio_group__item {
  display: inline-block;
  padding: 10px 20px 10px 0;
  input[type=radio] {

  }
}

.medi_radio_wrapper {
  position: relative;
  .medi_radio {
     position: absolute;
    opacity: 0;
    visibility: hidden;
    &:checked + label {
      &::after {
        background: #000;
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s linear;
    position: relative;
    &::before {
      display: inline-block;
      position: absolute;
      left: 0;
      content: "";
      height: 24px;
      width: 24px;
      border: 2px solid black;
      border-radius: 50%;
      transition: all 0.25s linear;
    }
    &::after {
      display: inline-block;
      position: absolute;
      left: 4px;
      top: 4px;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      transition: all 0.25s linear;
    }

  }
}


.medi_form_group_checkbox {
  position: relative;
  margin: 1em 0;
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    &:checked + label{
      &:after {
       content: "\f00c";
      }
    }
  }
  label {
    font-size: .75em;
    cursor: pointer;
    line-height: 1.2em;
    padding-left: 30px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 16px;
      height: 16px;
      border: 1px solid #000;
    }
    &:after {
       content: "";
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      position: absolute;
      left: 2px;
      top: 5px;
    }
  }
}



label[id*="error"] {
    position: relative;
    color: red;
    display: inline-block;
    font-size: 14px;
}





