.img-thumbnail {
    padding: 0.25rem;
    background-color: #e9e9e9;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    max-width: 100%;
    height: auto;
}

.fileinput-new, .fileinput-preview img {
    width: 240px;
    height: 180px;
}

.img-thumbnail {
    background-color: #fff !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.block__list_tags li {
    text-align: center;
}

.block__list li {
    list-style: none;
    cursor: move;
}

.bg-container {
    color: #525252;
}

.block__list li {
    list-style: none;
    cursor: move;
}

.block__list li {
    width: 9.8%;
    list-style: none;
    cursor: move;
}

.block__list_tags li {
    text-align: center;
}

.block__list li {
    list-style: none;
    cursor: move;
}

.bg-container {
    color: #525252;
}

.image-color {
    width: 100%;
}

.btnRemoveImage {
    color: red !important;
}

.block__list_tags li {
    display: inline-block;
    text-align: center;
}

.colors-ul {
    overflow: hidden;
    list-style: none;
    padding: 0px;
}

.colors-ul li {
    width: 14%;
    background: #fff;
    padding: 10px;
    color: #000;
    line-height: 15px;
    float: left;

    display: inline-block;
    vertical-align: top;
    margin-right: .33%;
    margin-bottom: 12px;
    font-size: 14px;
}

.color-remove {
    color: red !important;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 12px;
}

.addcategory {
    border: 1px solid #ccc;
    background: #efefef;
    padding: 20px;
}

.dd {
    width: 100%;
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    height: 35px;
    margin: 5px 0;
    line-height: 25px;
    vertical-align: middle;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.editdelete {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.banner-item-container {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px 0;
}

.banner-item-container ul {
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: 0;
}

.banner-item-container ul li {
    width: 100px;
    margin-right: 1%;
    float: left;
}

.banner-item-container ul li img {
    width: 100%;
}

.short_product_inner p a, .single_product .single_product_desc h3 a {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single_product .single_product_desc h3 a {
    line-height: 15px;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif
}

.modal-items {
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

.modal-items li {
    float: left;
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 10px;
}

.modal-items li img {
    width: 100%;
    cursor: pointer;
}

